
@import "tailwindcss";

/* {
 border: #fff81e 1px solid;
} */


/* Elements */

button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: cell ;
  font-weight: 200;
  transition: filter 0.2s;
}

button:hover {
  filter:hue-rotate(45deg);
}

footer {
  margin-top: auto;
  background-color: var(--color-primary);
  color: var(--color-bg);
  text-align: center;
  padding: 0.7rem;
}

/*Small elements*/

kbd > kbd {
  border-radius: 2px;
  padding: 3px 4px;
  background: #fff81e;
  color: black;
}

.list-tag {
  display: inline-block;
  background: #fff81e;
  color: black;
  margin-left: 4px;
  margin-top: 4px;
  padding: 2px 4px;
  border-radius: 2px;


  
}

.header{
  min-height: 4em;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  max-width: var(--maxwidth);
  /* margin-top: 1rem; */
}


.logo-wrapper {
  display: flex;
  align-items: center;
  height: 4em;
  cursor: cell;

}

.wrapper{
  width: 100%;
  max-width: var(--maxwidth);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 2em;
}

.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin: 2em 0 2em;

}

.intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
  margin-bottom: 2em;
}

.intro__text{
  max-width: 620px;

}


.intro__text span {
  font-size: 2rem;
  font-weight: 600;
}


.intro__text p {
 font-size: 1rem;
 max-width: 800px;

}

.intro__text p:first-of-type {
  margin-top: 1em;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: 0.01em;
}


/* canvas {
  display: block;
  vertical-align: bottom;
} */

nav ul{

  font-size: 1.3rem;
  color: #f5f5f5;
}
nav ul :hover{
  color: #fff81e;
}

.about p{
  padding-top: 30px;

}

.about > * {
  width: 100%;
}